{
  "./src/**/*.{js,jsx,ts,tsx,json}": [
    "prettier --write",
    "git add"
  ],
  "./*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "git add"
  ],
  "./src/**/*.{css,sass,scss,less}": [
    "stylelint --fix",
    "git add"
  ],
   "**/*.{ts,tsx}": "eslint --ext .ts",
   "**/*.scss": "stylelint --syntax scss"
}
